
// Grid -----------------------------------------------------------------------

$gutter-width:        5%;
$container-max-width: 1064px;
$page-min-padding:    4%;



// Spacing --------------------------------------------------------------------

$spacings: (
	0: 0,
	h: .5rem,
	1: 1rem,
	2: 2rem,
	3: 3rem,
	4: 4rem,
	5: 5rem
);



// Breakpoint -----------------------------------------------------------------

$breakpoints: (
	xxs: 530,
	xs:  590,
	s:   750,
	m:   940,
	l:   1050
);

/*,
xl:  1250,
xxl: 1450*/

@function bp($key) {
	@if map-has-key($breakpoints, $key) {
		@return map-get($breakpoints, $key);
	}

	@warn "Unknown `#{$key}` in $breakpoints.";
	@return null;
}



// Colors ---------------------------------------------------------------------

// Make a map to generate classes from
$colors: (
	'white': #FFFFFF,
	'rodeo-dust': #E5BC71,
	'debian-red': #C61050,
	'java': #1BA292,
	'paris': #272965,
	'vulcan': #10171C
);

@function color($key) {
	@if map-has-key($colors, $key) {
		@return map-get($colors, $key);
	}

	@warn "Unknown `#{$key}` in $colors.";
	@return null;
}

$doc-color: color('vulcan');
$doc-bg-color: color('white');

// Reporting colors

$reporting-text:    #333333;
$reporting-success: #3D8B31;
$reporting-error:   #BE3C20;
$reporting-warning: #DEBF39;
$reporting-info:    #51A1F0;



// Font -----------------------------------------------------------------------
//
// Default stack base on http://www.jordanm.co.uk/tinytype

$sans-font-stack:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, sans-serif;
$serif-font-stack: Times, 'Times New Roman', serif;
$mono-font-stack:  'Courier New', Courier, monospace;
$doc-font-size:    16px;
$doc-line-height:  1.5;

// Easing ---------------------------------------------------------------------
//

$easeOutCubic:   cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutSine:  cubic-bezier(0.445, 0.050, 0.550, 0.950);
