{
	"highlightCode": true,
    "compact": false,
    "presets": ["stage-2"],
    "plugins": [
      "transform-strict-mode",
      "transform-class-properties",
      "transform-es2015-modules-commonjs",
      "transform-react-jsx"
    ]
}
