/*
   ==========================================
   BASE STYLES
   ==========================================
*/

*, *:after, *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

body
{
    font-family: Karla, Helvetica, "Helvetica", sans-serif;
    font-size: 100%;
    color: #344F1A;
}

.container
{
	width: 88%;
	margin: 0 auto;
	max-width: 1400px; /* change to prefs ----------------------------------! */
	*zoom: 1;
}

textarea { resize:  none; }
input { outline: none; }
p a
{
	border-bottom: 1px dashed;
	text-decoration: none;
	color: #344F1A;
}
p a:hover, .tweets p a:hover
{
	color: #4A9431;
	border-bottom-color: #4A9431;
}
p a:active, .tweets p a:active
{
	color: #000000;
	border-bottom-color: #000000;
}

/* Selection color */

::-moz-selection
{
    background: #000000;
    text-shadow: none;
}

::selection
{
    background: #000000;
    text-shadow: none;
}

/*
   ==========================================
   HELPER CLASSES
   ==========================================
*/

.hide { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.bold { font-weight: bold; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/*
   ==========================================
   GRID LAYOUT CLASSES
   ==========================================
*/

.col
{
	position: relative;
	width: 100%;
	margin-left: 0;
	float: left;
	display: inline;
	margin-bottom: 0em; /* Change to prefs ---------------------------------! */
}
.container img
{
	max-width: 100%;
    height: auto;
    width: auto\9; /* IE8 */
}

/*
   ==========================================
   GENERAL CLASSES
   ==========================================
*/

.slabtexted .slabtext
{
	display:-moz-inline-box;
	display:inline-block;
	white-space:nowrap;
}
.slabtextinactive .slabtext
{
	display:inline;
	white-space:normal;
	font-size:1em !important;
	letter-spacing:inherit !important;
	word-spacing:inherit !important;
	*letter-spacing:0 !important;
	*word-spacing:0 !important;
}
.slabtextdone .slabtext
{
	display:block;
	line-height: 1;
}
.separator
{ 
	border-top: 1px solid #A1DFA1;
	margin-top: 1em;
	width: 0;
	position: absolute;
	top:  -999999px; left: -999999px;
	visibility: hidden;
}
.button, input[type=submit]
{
	display: block;
	padding: .75em 0 .75em;
	border-radius: 3px; /*0.1875em;*/
	-moz-border-radius: 3px;
	text-decoration: none;
	background-color: #666666;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.8125em;
	-webkit-box-shadow: 0 1px 0 rgba(40,60,20,.1), 0 3px 0 rgba(40,60,20,.1);
	   -moz-box-shadow: 0 1px 0 rgba(40,60,20,.1), 0 3px 0 rgba(40,60,20,.1);
		-ms-box-shadow: 0 1px 0 rgba(40,60,20,.1), 0 3px 0 rgba(40,60,20,.1);
		 -o-box-shadow: 0 1px 0 rgba(40,60,20,.1), 0 3px 0 rgba(40,60,20,.1);
			box-shadow: 0 1px 0 rgba(40,60,20,.1), 0 3px 0 rgba(40,60,20,.1);
}
.button:hover
{
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.05) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.05))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.05) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.05) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.05) 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.05) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#0dffffff',GradientType=0 ); /* IE6-9 */
}
.button:active
{
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.05) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.05))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 100%); /* W3C */
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.3), inset 0 0 4px rgba(40,60,20,.2), inset 0 1px 0 rgba(40,60,20,.1);
}
.pullup
{
	margin-top: .75em;
	margin-bottom: -1.5em;
}

/*
   ==========================================
   CUSTOM STYLES
   ==========================================
*/

header
{ 
	background: #A1DFA1 url(../images/dotted-pattern-white.png) repeat;
	background-attachment: fixed;
	position: relative;
}
	header .col
	{ 
		position: relative;
		margin-bottom: 0;
	}
	header .col:last-child
	{
		position: absolute;
		top: 5em;
		right:  6%;
		width: auto;
	}
		.contact
		{
			display: inline-block;
			min-width: 83px; min-height: 37px;
			width: 6.1875em; height: 3.3125em;
			background: #FFFFFF url(../images/submit-mail-icon.png) no-repeat center center;
			border-radius: 3px;
			-moz-border-radius: 3px;
		}
		.logo
		{
			display: block;
			width: 100px; height: 89px;
			margin: 5em 0 5em 0;
			background: url(../images/flovan-logo.png) no-repeat;
		}
		h1
		{
			margin: 0 0 2.5em 0;
			font-family: Dosis, Helvetica, sans-serif;
		}
			h1 span
			{ 
				text-shadow: 0 1px rgba(40,60,20,.1), 0 3px rgba(40,60,20,.1);
			}
		h1, header p, header p a, header p a:visited, h2
		{
			color: #273B13;
		}
		header p
		{
			font-size: 1.8125em; /* 29px */
			line-height: 1.5;
			margin: 0 0 2.7586em 0;
		}

.main-container
{
	background: url(../images/jagged-pattern-grey-down.gif) repeat-x left top;
	padding-bottom: 5em;
}
.main-content .row, footer .row
{
	padding-top: 5em;
}
	h2
	{
		margin-top: 0;
		margin-bottom: 5em;
		font-size: 1.625em; /* 26px */
		text-transform: uppercase;
	}
	.featured .button { background-color: #00ABF1; }
	.tweets .button { background-color: #2aa9e0; }
	.insta .button { background-color: #3f729b; }
	.dribbble.button { background-color: #ea4c89; }
	.vimeo.button { background-color: #81c7f0; }
	.github.button { background-color: #333333; }
	.linkedin.button { background-color: #005b90; }
	article.col, .button.col
	{
		margin-bottom: 5%;
	}
	article.col:last-child, .button.col:last-child
	{
		margin-bottom: 0;
	}
	.tweets p, footer .row > p
	{ 
		font-size: 1.5em; /* 24px */
		line-height: 1.5;
		margin: 0;
	}
		.tweets .tinytext
		{
			font-size: 0.66666667em;
			border-bottom: none;
			color: #4A9431;
			display: inline-block;
		}
footer
{
	padding-bottom: 5em;
	background: #F6F6F6 url(../images/dotted-pattern-black.png) repeat;
	background: url(../images/jagged-pattern-dark-grey-up.gif) repeat-x left bottom, #F6F6F6 url(../images/dotted-pattern-black.png) repeat;
}
	footer .note
	{
		display: block;
		font-size: .8333333em;
		margin-top: .75em;
	}
	label
	{
		font-weight: bold;
		text-transform: uppercase;
		color: #4a9431;
	}
	label.error
	{
		color: #DB162D;
	}
		form
		{
			display: block;
			margin-top: 5%;
		}
		label input
		{
			font-family: Karla, Helvetica, sans-serif;
			display: block;
			width: 100%;
			padding: .75em;
			margin-top: .75em;
			border: 2px solid #4a9431;
			background: #FFFFFF;
			font-weight: bold;
		}
		.error input
		{
			border-color:  #DB162D;
		}
		label input
		{
			font-size: 1.25em;
		}
		input[type=submit]
		{
			width: 100%;
			font-size: 1.875em;
			border:  none;
			background: #4a9431 url(../images/submit-mail-icon.png) no-repeat .75em center;
/*			padding-left: 3em;*/
			text-align: right;
			padding-right: .75em;
			color: #344f1a;
		}
		input[type=submit]:hover
		{
			background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.05) 100%), #4a9431 url(../images/submit-mail-icon.png) no-repeat .75em center; /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.05))), #4a9431 url(../images/submit-mail-icon.png) no-repeat .75em center; /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.05) 100%), #4a9431 url(../images/submit-mail-icon.png) no-repeat .75em center; /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.05) 100%), #4a9431 url(../images/submit-mail-icon.png) no-repeat .75em center; /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.05) 100%), #4a9431 url(../images/submit-mail-icon.png) no-repeat .75em center; /* IE10+ */
			background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.05) 100%), #4a9431 url(../images/submit-mail-icon.png) no-repeat .75em center; /* W3C */
		}
		input[type=submit]:active
		{
			background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.05) 100%), #4a9431 url(../images/submit-mail-icon.png) no-repeat .75em center; /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.05))), #4a9431 url(../images/submit-mail-icon.png) no-repeat .75em center; /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 100%), #4a9431 url(../images/submit-mail-icon.png) no-repeat .75em center; /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 100%), #4a9431 url(../images/submit-mail-icon.png) no-repeat .75em center; /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 100%), #4a9431 url(../images/submit-mail-icon.png) no-repeat .75em center; /* IE10+ */
			background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 100%), #4a9431 url(../images/submit-mail-icon.png) no-repeat .75em center; /* W3C */
			-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.3), inset 0 0 4px rgba(40,60,20,.2), inset 0 1px 0 rgba(40,60,20,.1);
		}

/*
   ==========================================
   MEDIA QUERIES
   ==========================================
*/

/* 
Spread col-4 over 2 rows so sentences contain more than 3 words per line :)
TODO if used: provide fallback with jQuery (or use only jQuery) for IE(9-) support
*/
/*@media screen and (min-width: 700px) and (max-width: 1100px)
{
	.col-4 .grid-unit { width: 46%; margin-left: 8%; }
	.col-4 .grid-unit:nth-child(odd) { margin-left: 0; }
}*/

/*450px*/
@media screen and (min-width: 28.125em)
{
	.pullup
	{
		margin-top: -.75em;
		margin-bottom: -.75em;
	}
}
@media screen and (min-width: 28.125em) and (max-width: 59.0625em)
{
	/*body { font-size: 112.5%; } /* 18px */
	
	.col { margin-left: 5%; }
	.col.col-4 { width: 46%; margin-left: 8%; }
	.col-4:nth-child(odd) { margin-left: 0; }
	.col.col-4-span-2 + .col-4 { margin-left: 8%; }
	.row .col:first-child, form.col { margin-left: 0; }
	
	article.col { margin-bottom: 8%; }
	.row article.col:first-child {  margin-top: 0; }
	.pullup
	{
		margin-top: -.75em;
		margin-bottom: -.75em;
	}
	.tweets .row:last-child .col:last-child { margin-left: 0; }
	.col.clearmargin
	{
		margin-bottom: 0;
	}
}
/*945px*/
@media screen and (min-width: 59.0625em)
{
	/*body { font-size: 112.5%; } /* 18px */
	
	.col { margin-left: 5%; }
	.col.col-2, header .col:last-child { width: 46%; margin-left: 8%; }
	.col.col-3 { width: 30%; }
	.col.col-4 { width: 21.25%; }
	.col.col-4-span-2 { width: 47.5%; }
	.col.col-4-span-3 { width: 73.75%; }
	.row .col:first-child { margin-left: 0; }
	
	header
	{
		background: url(../images/uufd.png) no-repeat 20% top,
					#A1DFA1 url(../images/dotted-pattern-white.png) repeat;
		background-attachment: fixed, fixed;
		/*background-size: auto 95%, auto auto;*/
	}
	header .col:last-child
	{
		position: inherit;
		top: auto;
		right:  auto;
		/*width: auto;*/
		text-align: right;
		padding-top: 5em;
	}
	.separator
	{
		visibility: visible;
		position: inherit;
		left: auto; top: auto;
	}
	form.col { margin-top: 0; }
	.profiles .col.button, .tweets article, .insta article
	{
		margin-bottom: 0;
	}
}
/*1100px*/
@media screen and (min-width: 68.75em)
{
	/*body { font-size: 150%; } /* 24px */
	header
	{
		background-position: 10% top, top left;
	}
}
/*1230px*/
@media screen and (min-width: 76.875em)
{
	/*body { font-size: 150%; } /* 24px */
	header
	{
		background-position: 100% top, top left;
	}
}

/* RETINA */

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)
{
	header
	{ 
		background-image: url(../images/dotted-pattern-white@2x.png);
		background-size: 50px 50px;
	}
	.logo
	{
		background-image: url(../images/flovan-logo@2x.png);
		background-size: 100px 89px;
	}
	.main-container
	{
		background-image: url(../images/jagged-pattern-grey-down@2x.gif);
		background-size: 8px 11px;
	}
	.contact, input[type=submit]
	{
		background-image: url(../images/submit-mail-icon@2x.png);
		background-size: 83px 37px;
	}
	input[type=submit]:hover
	{
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.05) 100%), #4a9431 url(../images/submit-mail-icon@2x.png) no-repeat .75em center; /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.05))), #4a9431 url(../images/submit-mail-icon@2x.png) no-repeat .75em center; /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.05) 100%), #4a9431 url(../images/submit-mail-icon@2x.png) no-repeat .75em center; /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.05) 100%), #4a9431 url(../images/submit-mail-icon@2x.png) no-repeat .75em center; /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.05) 100%), #4a9431 url(../images/submit-mail-icon@2x.png) no-repeat .75em center; /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.05) 100%), #4a9431 url(../images/submit-mail-icon@2x.png) no-repeat .75em center; /* W3C */
		background-size: auto auto, 83px 37px;
	}
	input[type=submit]:active
	{
		background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.05) 100%), #4a9431 url(../images/submit-mail-icon@2x.png) no-repeat .75em center; /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.05))), #4a9431 url(../images/submit-mail-icon@2x.png) no-repeat .75em center; /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 100%), #4a9431 url(../images/submit-mail-icon@2x.png) no-repeat .75em center; /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 100%), #4a9431 url(../images/submit-mail-icon@2x.png) no-repeat .75em center; /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 100%), #4a9431 url(../images/submit-mail-icon@2x.png) no-repeat .75em center; /* IE10+ */
		background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 100%), #4a9431 url(../images/submit-mail-icon@2x.png) no-repeat .75em center; /* W3C */
		-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.3), inset 0 0 4px rgba(40,60,20,.2), inset 0 1px 0 rgba(40,60,20,.1);
		background-size: auto auto, 83px 37px;
	}
	footer
	{
		background: #F6F6F6 url(../images/dotted-pattern-black@2x.png) repeat;
		background: url(../images/jagged-pattern-dark-grey-up@2x.gif) repeat-x left bottom, #F6F6F6 url(../images/dotted-pattern-black@2x.png) repeat;
		background-size: 8px 11px, auto auto;
	}
}

/* PRINT */

@media print
{
    *
    {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    pre,
    blockquote
    {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}