// Font-Face ------------------------------------------------------------------
//
// !! Add custom fonts to the font-stack in sass/base/config_site

@font-face {
	font-family: 'Campton';
	src: url('../fonts/campton-bold.woff2') format('woff2'),
		 url('../fonts/campton-bold.woff') format('woff'),
		 url('../fonts/campton-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: 'Cousine';
    src: url('../fonts/cousine-regular.woff2') format('woff2'),
         url('../fonts/cousine-regular.woff') format('woff'),
         url('../fonts/cousine-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'Cousine';
	src: url('../fonts/cousine-italic.woff2') format('woff2'),
		 url('../fonts/cousine-italic.woff') format('woff'),
		 url('../fonts/cousine-italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Cousine';
	src: url('../fonts/cousine-bold.woff2') format('woff2'),
		 url('../fonts/cousine-bold.woff') format('woff'),
		 url('../fonts/cousine-bold.ttf') format('truetype');
	font-weight: 700; // bold
	font-style: normal;
}

@font-face {
	font-family: 'Cousine';
	src: url('../fonts/cousine-bolditalic.woff2') format('woff2'),
		 url('../fonts/cousine-bolditalic.woff') format('woff'),
		 url('../fonts/cousine-bolditalic.ttf') format('truetype');
	font-weight: 700; // bold
	font-style: italic;
}
