// Text Primer (v1) -----------------------------------------------------------
//
// This primer takes care of setting reasonable basic styles on various text
// nodes, such as titles, lists and links.

::-moz-selection { background: $accent-2; color: $white; text-shadow: none; }
::selection      { background: $accent-2; color: $white; text-shadow: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
ol {
	margin: 0;
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.25;
	word-break: break-word;
}

ul,
ol {
	padding: 0;
}

blockquote {
	padding-left: 1.4em;
	border-left: rem(10) solid rgba($doc-color, .15);
}

a {
	position: relative;
	color: $doc-color;
	outline: none;
	text-decoration: none;
	transition: color .2s $easeInOutQuart;

	p &,
	li & {
		&:after {
			content: '';
			position: absolute;
			bottom: .1em;
			left: 0;
			z-index: -1;
			width: 100%;
			height: $border-width;
			background-color: $accent;
		}
	}

	&:hover,
	&:focus {
		color: $accent;
		transition-duration: .15s;
		transition-timing-function: easeInOutSine;
	}
}

small {
	font-size: small;
}
