// Hide Tools (v1) ------------------------------------------------------------

.hide {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.display-none { display: none !important; }

@each $bp, $bpVal in $breakpoints {
    @media screen and (min-width: rem($bpVal,16)) {
        /*.#{$bp}-hide {
			position: absolute !important;
			height: 1px;
			width: 1px;
			overflow: hidden;
			clip: rect(1px, 1px, 1px, 1px);
		}*/

		.#{$bp}-display-none { display: none !important; }
    }
}
