{{> layout/header}}
{{> partials/svg-icons}}

<svg class="logo" viewBox="0 0 612 792"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
<main>
	<section class="block introduction">
		<div class="block-wrapper personal-wrapper">
			<p>I am Florian Vanthuyne, a multidiciplinary creative and front-end developer, currently working full-time at <a href="http://adagio.agency" title="Visit Adagio&#39;s website">Adagio Agency</a> — a digital advertising agency.</p>
			<p>
				<a class="block-link" href="about.html" title="Read more about me">More about me<svg class="icon icon-arrow-right" viewBox="0 0 12 10"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use></svg></a>
				<a class="block-link" href="mailto:hello@flovan.me" title="Send me an email">Contact me<svg class="icon icon-mail" viewBox="0 0 18 17"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mail"></use></svg></a>
			</p>
		</div>
		<div class="block-wrapper curriculum-wrapper">
			<p>Grab a copy of my Curriculum vitae:</p>
			<p><a class="block-link" href="#download" title="Download my CV as a PDF">Download PDF<svg class="icon icon-arrow-down" viewBox="0 0 16 16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-down"></use></svg></a></p>
		</div>
	</section>
	<section class="block headstart">
		<div class="block-wrapper">
			<p>A side-project that I maintain in my spare time is Headstart. It is an automated front-end workflow, and a tool that I rely upon every day.</p>
			<p><img src="assets/images/terminal-window.png" alt="An example of the Command Line Interface (CLI) of Headstart"></p>
			<p><a class="block-link" href="http://headstart.io" title="Visit the Headstart project">Visit the homepage<svg class="icon icon-arrow-right" viewBox="0 0 12 10"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use></svg></a></p>
		</div>
	</section>
	<section class="block blog">
		<div class="block-wrapper blurbs">
			<p>I collect interesting links, snippets and maybe even thoughts on what you could call a blog. Here are the latest items:</p>
			<ul>
				<li><a href="#post">Handy-dandy After Effect scripts</a></li>
				<li><a href="#post">Super fancy animated icons</a></li>
				<li><a href="#post">HSL Color cycling with CSS</a></li>
				<li><a href="#post">Bounce and overshoot scripts for keyframed animations in AE</a></li>
			</ul>
			<p><a class="block-link" href="#blog" title="Take a look at my blurb collection">Check out my blurbs<svg class="icon icon-arrow-right" viewBox="0 0 12 10"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use></svg></a></p>
		</div>
	</section>
	<section class="block instagram">
		<div class="insta-wrapper">
			<img src="" alt="">
			<div class="loader"></div>
		</div>
		<div class="insta-wrapper">
			<img src="" alt="">
			<div class="loader"></div>
		</div>
		<div class="block-wrapper">
			<a class="block-link" href="#blog" title="Visit my Instagram profile">See all my Instagram snaps<svg class="icon icon-arrow-right" viewBox="0 0 12 10"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use></svg></a>
		</div>
	</section>
	<section class="block twitter">
		<div class="block-wrapper">
			<p>I also submit messages to this thing called Twitter, where I do my best to Keep It Real™, blabbering about life and sharing links I deem worthy. Here’s the latest thing I tweeted:</p>
			<p class="latest-tweet"></p>
			<p><a class="block-link" href="#blog" title="Take a look at my Twitter profile">Connect with me on Twitter<svg class="icon icon-arrow-right" viewBox="0 0 12 10"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use></svg></a></p>
		</div>
	</section>
	<footer class="block">
		<div class="block-wrapper">
			<p class="social-media-wrapper">
				<a href="#" title="Visit my Github profile"><span class="is-hidden">Github</span><svg class="icon icon-social-github" viewBox="0 0 17 17"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-social-github"></use></svg></a>
				<a href="#" title="Visit my LinkedIn profile"><span class="is-hidden">LinkedIn</span><svg class="icon icon-social-linkedin" viewBox="0 0 16 15"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-social-linkedin"></use></svg></a>
				<a href="#" title="Visit my Twitter profile"><span class="is-hidden">Twitter</span><svg class="icon icon-social-twitter" viewBox="0 0 17 13"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-social-twitter"></use></svg></a>
				<a href="#" title="Visit my Behance profile"><span class="is-hidden">Behance</span><svg class="icon icon-social-behance" viewBox="0 -1 18 13"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-social-behance"></use></svg></a>
				<a href="#" title="Visit my Dribbble profile"><span class="is-hidden">Dribbble</span><svg class="icon icon-social-dribbble" viewBox="0 0 16 16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-social-dribbble"></use></svg></a>
				<a href="#" title="Visit my Vimeo profile"><span class="is-hidden">Vimeo</span><svg class="icon icon-social-vimeo" viewBox="0 0 17 15"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-social-vimeo"></use></svg></a>
			</p>
			<p>Disclaimer-ish: This website serves as a means of keeping busy, trying out new techniques and getting better at what I do. I haven’t bothered testing browser support, so if anything’s broken, consider it a feature.</p>
		</div>
	</footer>
</main>

<script>
	WebFontConfig = {
		custom: {
			families: ['Ahamono Monospaced:n4', 'League Spartan Bold:n7'],
			urls: ['assets/css/fonts.css'],
			timeout: 10000
		}
	};

	(function() {
		var wf = document.createElement('script');
		wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1.5.6/webfont.js';
		wf.type = 'text/javascript';
		wf.async = 'true';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(wf, s);
	})();
</script>

{{> layout/footer}}
