{{> layout/header}}

<section class="content-wrapper">
	{{> partials/sidebar}}
	<section class="content">
		<article>
			<header>
				<h1><a href="http://headstart.io" title="Find out more about Headstart.">I made Headstart</a></h1>
				<div class="meta post__meta">An easy-to-use automated front-end setup.</div>
			</header>
			<p>Find out more at <a href="http://headstart.io" title="Find out more about Headstart.">http://headstart.io</a>.</p>
		</article>
		<article>
			<header>
				<h1><a href="http://blurbs.flovan.me" title="Take a look at some stuff I posted.">I collect things</a></h1>
				<div class="meta post__meta">Blogging as a means of personal reference.</div>
			</header>
			<p>Check out my <a href="http://blurbs.flovan.me" title="Take a look at some stuff I posted.">Blurbs</a>.</p>
		</article>
		<article>
			<header>
				<h1>E-web links</h1>
				<div class="meta post__meta">You can find me at all these places.</div>
			</header>
			<ul>
				<li><a href="https://github.com/flovan" title="My repositories.">Github</a></li>
				<li><a href="http://www.twitter.com/prplps" title="Read my tweets.">Twitter</a></li>
				<li><a href="http://www.behance.net/flovan" title="Take a look at some things I made.">Behance</a></li>
				<li><a href="http://www.dribbble.com/flovan" title="Some other designy stuff.">Dribbble</a></li>
				<li><a href="https://vimeo.com/flovan" title="I also do videos." class="bold" target="_blank">Vimeo</a></li>
				<li><a href="https://www.linkedin.com/in/flovan" title="Lets collect dust together on LinkedIn.">LinkedIn</a></li>
			</ul>
		</article>
	</section>
</section>

{{> layout/footer}}
