// Font-Face ------------------------------------------------------------------

@font-face {
	font-family: 'Canadian';
	font-weight: normal;
    font-style: normal;
	src: url('../assets/fonts/canadian.woff') format('woff'),
		 url('../assets/fonts/canadian.woff2') format('woff2')
}
