// Reporting Module -----------------------------------------------------------
//
// Easily setup Success, Error, Warning, and Info messages and lists

$tintAmount: 85;

.report {
	border-top-style: solid;
	border-top-width: 4px;

	ul,
	ol {
		padding-left: 1.5em;
	}
}

ul.report,
ol.report {
	padding-left: 3em;
}

// Modifiers ------------------------------------------------------------------
// Note: colors below are configured in _config_site.scss
//

.report--success {
	border-top-color: $success;
	background: tint($success, $tintAmount);
}

.report--info {
	border-top-color: $info;
	background: tint($info, $tintAmount);
}

.report--warning {
	border-top-color: $warning;
	background: tint($warning, $tintAmount);
}

.report--error {
	border-top-color: $error;
	background: tint($error, $tintAmount);
}
