// Wrapper Module -------------------------------------------------------------

.wrapper {
    max-width: 1140px;
}

// Modifiers ------------------------------------------------------------------

.wrapper--wide {
	max-width: 1400px;
}

.wrapper--narrow {
	max-width: 960px;
}

.wrapper--elastic {
	padding-left: 5%;
	padding-right: 5%;
}
