<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Flovan</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
		<script>
			if (sessionStorage.fontsLoaded) {
				document.documentElement.classList.add('fonts-loaded');
			}
		</script>
	</head>
	<body>
		<div id="root">
			<%- html %>
		</div>
		<% for (var chunk in assets) { %>
		<script src="<%= assets[chunk] %>"></script>
		<% } %>
	</body>
</html>
